.alert__inner-container {
    display: flex;
    justify-content: space-between;
}
.alert__close-button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}
.alert {
    padding: 10px 20px;
}

