.news-list__header {
    font-size: 20px;
    margin: 10px 0 !important;
    height: 40px;
}
.news-list__news-container {
    padding: 10px !important;
}
.card-text {
    line-height: 17px;
    font-size: 15px;
    height: 102px;
    overflow: hidden;
}
.card-text::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 53px;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 80%);
    width: 100%;
    height: 4em;
}
.text-muted {
    margin-bottom: 0 !important;
}
.news-list__header_full {
    margin: 8px 0 !important;
}
@media (min-width: 40em) {
    .card-text:after {
        bottom: 46px;
    }
}
.news-list__category-block {
    margin: 0 !important;
}
.news-list__text_category:after {
    bottom: 51px;
}
